:root {
    --color-text: #121712;
    --color-text2: #638763;
    --font-all: "Plus Jakarta Sans", sans-serif;
}

.contenido-central {
    display: flex;
    padding: 20px 160px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    align-items: center;
    }
}

nav ul {
    justify-content: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 5px auto;
   
}

nav ul li {
    display: flex;
    align-items: center;
}